name: Publish Package
on:
  push:
    tags:
      - "v*"
permissions:
  id-token: write
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: "https://registry.npmjs.org"
          scope: "@skaldapp"
      - run: npm ci
      - run: npm run build
      - run: npm publish
